<app-cabecera></app-cabecera>
<div 
    [ngStyle] = " {backgroundImage : setImagen()} "
    class="pelicula">
    <div class="pelicula__gradienteabajo"></div>
    <div class="pelicula__gradienteizquierda"></div>
    <div class="pelicula__contenido">
        <h2 class="pelicula__titulo">{{pelicula.nombre}}</h2>
        <div class="pelicula__specs">
            <span class="pelicula__spec">{{pelicula.ano}}</span>
            <span 
            [ngClass] = "{'tp': pelicula.edad ==='tp', 
            'siete': pelicula.edad === '7',
            'doce': pelicula.edad ==='12', 
            'dieciseis': pelicula.edad === '16',
            'dieciocho': pelicula.edad === '18'}"
            class="pelicula__edad">{{pelicula.edad}}</span>
            <span class="pelicula__spec">{{pelicula.duracion}}</span>
        </div>
        <div class="pelicula__categoria">
            <span>{{pelicula.tipo}}</span>
        </div>
        <p class="pelicula__desc">{{pelicula.descripcion}}</p>
        <div class="pelicula__lenguaje">
            <span class="pelicula__lengua">Idiomas: {{pelicula.idiomas}}</span>
            <span class="pelicula__lengua">Subtitulos: {{pelicula.subtitulos}}</span>
        </div>
    </div>
</div>
<div class="info">
    <div class="info__centrado">
        <h3 class="info__h3">Mas información</h3>
        <div class="info__contenido">
            <div class="info__sinopsis">
                <div class="info__item">
                    <span class="info__span">Sinopsis</span>
                    <div class="info__texto">{{pelicula.descripcion}}</div>
                </div>
            </div>
            <div class="info__idiomas">
                <div class="info__item">
                    <span class="info__span">Idiomas</span>
                    <div class="info__texto">{{pelicula.idiomas}}</div>
                </div>
                <div class="info__item">
                    <span class="info__span">Subtítulos</span>
                    <div class="info__texto abajo">{{pelicula.subtitulos}}</div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-slider
        [titulo] = " 'Similares' "
        [slides]=" peliculas"
         ></app-slider>
