.slider{
    margin-top: 1em;
    padding-bottom: 2.5em;
    width: 100%;
    position: relative;
    overflow: hidden;

    &__centrado{
        width: 90%;
        margin: auto;
        
    }
    &__flecha{
        cursor: pointer;
        height: 100%;
        position: absolute;
        top: 0;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        transition: all .5s ease;
        z-index: 3;
        background: linear-gradient(rgba(0,0,0,0));
        &:hover .slider__svg{
            transform: scale(1.4);
        }
        &.izquierda{
            left: 0;
            background: linear-gradient(270deg,rgba(0,0,0,0) 50%,black 100%);
        }
        &.izquierda:hover{
            background-color: #00000080;
        }
        &.derecha{
            right: 0;
            background: linear-gradient(90deg,rgba(0,0,0,0) -50%,black 100%);
        }
        &.derecha:hover{
            background-color: #00000080;
        }
    }
    &__svg{
        fill: white;
        width: 2em;
        height: 2.8em;
        transition: all .5s ease;
    }
    &__move{
        width: 200%;
        display: grid;
        grid-template-columns: repeat(8 , 1fr);
        transition: all .5s ease;
    }
    &__h2{
        user-select: none;
        padding: 1em 0;
        color: white;
        font-weight: 600;
        font-size: 1.5em;
    }
    &__mensaje{
        color: white;
        font-weight: 600;
        
    }
}