<div class="slider">
    <div (click)="disminuirActivo()" class="slider__flecha izquierda">
        <svg xmlns="http://www.w3.org/2000/svg" class="slider__svg" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
        </svg>
    </div>
    <div (click)="aumentarActivo()" class="slider__flecha derecha">
        <svg xmlns="http://www.w3.org/2000/svg" class="slider__svg" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
        </svg>
    </div>
    <div 
    *ngFor = "let pelicula of destacados"
    [ngStyle]="{'background-image': 'url(' + pelicula.imagen + ')'}"
    [ngClass] = "{visible : activo == pelicula.numero}"
    class="slider__fondo"
    >
    <div class="slider__gradientearriba"></div>
    <div class="slider__gradienteabajo"></div>
    <div
    class="slider__contenido">
        <h2 class="slider__titulo">{{pelicula.titulo}}</h2>
        <div class="slider__specs">
            <span class="slider__ano">{{pelicula.ano}}</span>
            <span class="slider__edad" [ngClass] = "pelicula.edad2">{{pelicula.edad}}</span>
            <span class="slider__durac">{{pelicula.duracion}}</span>
        </div>
        <p class="slider__descripcion">{{pelicula.descripcion}}</p>
        <a 
        [routerLink]="[ '/pelicula' , pelicula.href ]"
        class="slider__boton">Más Información</a>
        <div class="slider__puntos">
        <div 
        *ngFor = "let pelicula of destacados"
        class="slider__punto"
        [ngClass] = "{visible : activo == pelicula.numero}"
        (click) = "setActivo(pelicula.numero)"
        ></div>
        </div>
    </div>
    </div>
</div>
